.container{
    width : 1000px;   
    height: 1000px;
    border: 1px solid red;
    display: flex;
    
}
.box{
    width : 100px;
    height: 100px;
    border-color: skyblue;
    margin: 10px;
 
    
}