h1 {
    background-color:blueviolet;
}
h2 {
    background-color: aqua;
}
div {
    color: white; background-color: green; text-align: center;
}
span {
    font-size: 30px;

}
.bye{
     color: red; 
    background-color: green;
    text-align: center;
    font-size: 30px;
}