.button{
    padding: 11px 22px;
    border-radius: 30;
    border: none;
    background-color: blue;
}

.button > i {
    color:aqua

}
.button > span {
    color: white;
    
}
.button:hover {
    
}